@import 'var';
.btn-maincolor {
    background-color: $main-color;
}
body {
    // font-family: ChakraPetch-Regular;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    //margin-bottom: auto;
}
#header-id {
    width: 100%;
    background-color: $main-color;
    font-family: ChakraPetch-Regular;
    #header-main {
        max-width: 120em;
        margin: 0 auto;
        .header-top {
            max-width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 0.5em 0.3em;
            border-bottom: white 1px solid;
            .social {
                display: flex;
                .follow {
                    color: white;
                    font-family: ChakraPetch-SemiBold;
                }
                .social-network {
                    color: white;
                    margin-left: 1em;
                }
                a:hover {
                    color: yellow;
                }
            }
            .hotline-info {
                display: flex;
                img {
                    max-width: 25px;
                    max-height: 25px;
                    width: auto;
                    height: auto;
                    margin-right: 5px;
                }
                div {
                    span {
                        color: white;
                        font-family: ChakraPetch-SemiBold;
                    }
                    a {
                        text-decoration: none;
                        color: yellow;
                    }
                }
            }
        }
        .mobile__search {
            display: none;
        }
    }
    .header-container {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 0.3em;
        .sidenav__mobile {
            display: none;
        }
        .logo {
            a {
                img {
                    display: block;
                    max-width: 12.5em;
                    max-height: 3.75em;
                    width: auto;
                    height: auto;
                }
            }
        }
        .search {
            // margin-top: 6px;
            // margin-left: 3em;
            // width: 20vw;
            form {
                input {
                    padding: 1em 0.7em;
                    width: 25vw;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
        // .login-cart{
        //     max-width: 25%;
        // }
    }
    #nav-bar {
        width: 100%;
        background-color: #eef0f7;
        .menu-nav-bar {
            margin: 0 auto;
            max-width: 120em;
            .list-menu {
                margin: 0 auto;
                width: 90%;
                display: flex;
                list-style: none;
                position: relative;
                .tilte-menu {
                    padding: 0.7em 0;
                    margin-right: 3em;
                    font-family: ChakraPetch-SemiBold;
                    a {
                        padding: 1em 0;
                        text-decoration: none;
                        color: $text-color;
                        font-weight: unset;
                    }
                    .submenu {
                        display: none;
                        list-style: none;
                        position: absolute;
                        background-color: white;
                        top: 100%;
                        width: 94%;
                        padding-left: 0;
                        z-index: 2;
                        border-right: 1px solid cadetblue;
                        border-bottom: 1px solid cadetblue;
                        .menu-mini {
                            // position: relative;
                            width: 20%;
                            padding: 0.6em 0.5em;
                            border-left: 1px solid cadetblue;
                            border-bottom: 1px solid cadetblue;
                            .fa-angle-right {
                                float: right;
                            }

                            .detail-sb-menu {
                                display: none;
                                position: absolute;
                                // width: calc(100%-14em);
                                padding: 0;
                                width: 80%;
                                right: 0;
                                top: 0;
                                .title-sb-menu {
                                    color: $main-color;
                                    padding: 0.5em 0 0 1em;
                                }
                                .container-sb-menu {
                                    // width: 60%;
                                    display: flex;
                                    justify-content: space-between;
                                    .list-sb-menu {
                                        width: 66%;
                                        list-style: none;
                                        padding-left: 0;
                                        display: grid;
                                        clear: both;
                                        grid-template-columns: 50% 50%;
                                        grid-template-rows: 2.7em 2.7em 2.7em 2.7em 2.7em;
                                        a {
                                            padding: 0.6em 0 0 1.5em;
                                        }
                                        a:hover {
                                            background-color: #d2d2d2;
                                        }
                                    }
                                    .img-detail {
                                        width: 34%;
                                        // display: none
                                        margin-top: 80px;
                                        margin-right: 20px;
                                        .img {
                                            // display: none;
                                            float: right;
                                            max-width: 17em;
                                            max-height: 10em;
                                            width: auto;
                                            height: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .menu-mini:hover {
                            background-color: $text-color;
                        }
                        .menu-mini:hover .link-menu-mn {
                            color: white;
                        }
                        .menu-mini:hover .detail-sb-menu {
                            display: block;
                        }
                    }
                }
                .product:hover .submenu {
                    display: block;
                }
            }
        }
    }
    .nav-tablet {
        display: none;
    }
}
#slide-event {
    margin-top: 1.5em;
    margin-bottom: 1em;
    max-width: 1092px;
    max-height: 541px;
    padding: 0;
    width: auto;
    height: auto;
    // position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    // z-index: 1;
}

.login-cart {
    display: flex;
    align-items: center;
    //background-color: yellowgreen;

    .cart {
        .cart-in {
            background-color: $main-color;
            border-style: solid;
            border-width: 3px;
            border-radius: 5px;
            border-color: white;
            color: white;
            padding: 7px 22px;
            text-align: center;
            font-size: 16px;
            //margin-left: 20em;
            cursor: pointer;
            width: auto;
            margin-right: 4em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            .numProduct {
                background-color: yellow;
                padding: 2px 2px;
                position: relative;
                font-size: 0.9rem;
                font-weight: bold;
                min-width: 25px;
                min-height: 25px;
                left: 2px;
                border-radius: 50%;
                color: #333;
            }
        }
    }
    .login {
        display: flex;
        //background-color: chartreuse;

        .color-r {
            text-decoration: none;
            color: white;
            font-family: ChakraPetch-SemiBold;
            margin-left: 0.7em;
            clear: both;
        }
        .color-r:hover {
            color: yellow;
        }
    }
}

#modalCart {
    // width: 80em;
    .modal-dialog {
        // max-width: 62em;
        .modal-content {
            .modal-header {
                .modal-title {
                    font-family: ChakraPetch-Bold;
                }
            }
            .modal-body {
                padding: 0 1em;
                margin-left: 0;
                margin-right: 0;
                .content-hide {
                    display: none;
                }
                .pro-node {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid #dee2e6;
                    height: 100px;
                    margin-top: 5px;
                    .pro-node-img {
                        padding: 0.5em;
                        img {
                            max-width: 80px;
                            max-height: 80px;
                            width: auto;
                            width: auto;
                        }
                    }
                    .name-price {
                        //  width: 330px;
                        padding: 0em 0;
                        // margin-top: 1em;
                        // margin-bottom: 2em;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .title__product-in-cart {
                            margin-bottom: 0;
                            // margin-top: 1em;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            font-family: ChakraPetch-Regular;
                            color: #005ec4;
                            // margin-bottom: 2em;
                        }
                        .product__price-in-cart {
                            margin-bottom: 0;
                            font-family: ChakraPetch-Bold;
                            color: #f9495f;
                        }
                        .gross {
                            margin-bottom: 0;
                        }
                    }
                    .buttons_added {
                        opacity: 1;
                        display: inline-block;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        white-space: nowrap;
                        vertical-align: top;
                        .is-form {
                            overflow: hidden;
                            position: relative;
                            background-color: #f9f9f9;
                            // background-color: green;
                            height: 2.2rem;
                            width: 1.9rem;
                            padding: 0;
                            text-shadow: 1px 1px 1px #fff;
                            border: 1px solid #ddd;
                        }
                        .minus {
                            overflow: hidden;
                            position: relative;
                            background-color: #f9f9f9;
                            height: 2.2rem;
                            width: 1.9rem;
                            padding: 0;
                            text-shadow: 1px 1px 1px #fff;
                            border: 1px solid #ddd;
                        }
                        .is-form:focus,
                        .input-text:focus {
                            outline: none;
                        }
                        .minus {
                            border-radius: 4px 0 0 4px;
                        }
                        .plus {
                            border-radius: 0 4px 4px 0;
                        }
                        .input-qty {
                            background-color: #fff;
                            height: 2.2rem;
                            text-align: center;
                            font-size: 1rem;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            border-left: 0;
                            border-right: 0;
                            padding: 0;
                        }
                        .input-qty::-webkit-outer-spin-button,
                        .input-qty::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    button {
                        padding: 0;
                        height: 2.5em;
                        width: 2.5em;
                        border: none;
                        background-color: $main-color;
                        border-radius: 25px;
                        i {
                            font-size: 1em;
                            color: white;
                        }
                    }
                }
                .modal-body-right {
                    // background-color: gray;
                    background-color: white;
                    .modal__info-cart {
                        background-color: #f0f3fc;
                        padding: 1em;
                        h5 {
                            font-family: ChakraPetch-Bold;
                        }
                        .modal__info-cart-ft {
                            display: flex;
                            justify-content: space-between;
                            .gtx {
                                font-family: ChakraPetch-SemiBold;
                                margin-bottom: 10px;
                            }
                            .gtx__1 {
                                font-family: ChakraPetch-SemiBold;
                                color: blue;
                                margin-bottom: 10px;
                            }
                            .gtx__2 {
                                font-family: ChakraPetch-Bold;
                                font-size: 1.2em;
                                color: #f9495f;
                                margin-bottom: 10px;
                            }
                        }
                        p {
                            font-family: ChakraPetch-Light;
                            text-align: right;
                        }
                        button {
                            display: block;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            width: 100%;
                            font-family: ChakraPetch-Bold;
                            margin-bottom: 1em;
                        }
                        .btn__modal-dem {
                            background-color: $main-color;
                            border: $main-color;
                            color: white;
                            // font-family: ChakraPetch-Bold;
                        }
                        .btn__modal-delete {
                            background: rgb(237, 27, 36);
                            color: white;
                            border: rgb(237, 27, 36);
                        }
                        .btn__modal-view {
                            color: #005ec4;
                            // margin-bottom: 16px;
                            background: #fff;
                            border: 1px solid #005ec4;
                            margin-bottom: 0em;
                        }
                    }
                }
                .modal__policy-cart {
                    margin-top: 1em;
                    ul {
                        line-height: 2;
                        list-style: none;
                        padding-left: 1em;
                        li {
                            // display: flex;
                            // justify-content: space-around;
                            font-size: 0.9em;
                            .fa-check-circle {
                                color: rgb(39, 174, 96);
                                padding-right: 0.5em;
                            }
                        }
                    }
                }
                .modal__pay-cart {
                    ul {
                        padding-left: 1em;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        li {
                            img {
                                max-width: 65px;
                                max-height: 43px;
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

#user-panel {
    position: relative;
    display: inline-block;
    cursor: pointer;
    img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    .dropbtn {
        color: white;
        border: none;
        background-color: $main-color;
    }
    .dropdown-user {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            color: black;

            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
        }
        a:hover {
            background-color: #ddd;
        }
    }
    .show {
        display: block;
    }
}
.account-detail {
    margin-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 18.5em;
    .account-detail-header {
        height: 18.5em;
        .bg-user {
            height: 85%;
            width: 100%;
            overflow: hidden;
            position: relative;
            .change-bg-acc {
                position: absolute;
                right: 10px;
                top: 10px;
                border-radius: 5px;
                border: 0;
            }
            img {
                max-width: 100%;
                // max-height: 100%;
                width: auto;
                height: auto;
            }
        }
        .account-info {
            padding: 10px 0;
            height: 15%;
            display: flex;
            list-style: none;
            margin-left: 13.2em;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            li {
                margin-right: 20px;
                span {
                    font-weight: bold;
                }
            }
            .vertical-divider::before {
                border-left: 1px solid #333;
                height: 5px;
                content: '';
                position: relative;
                left: -10px;
                opacity: 50%;
            }
        }
    }

    #user-avt {
        // width: 10em;
        height: 10em;
        position: relative;
        bottom: 12em;
        display: flex;
        // align-items: center;
        .avt-acc {
            // display: flex;
            img {
                margin-left: 2em;
                width: 10em;
                height: 10em;
                border-radius: 50%;
                border-style: solid;
                border-width: 3px;
                border-color: white;
                background-color: black;
            }
            #btn-change-avt {
                display: none;
                border: none;
                width: 2em;
                height: 2em;
                border-radius: 3px;
                background-color: #d1c2bf;
                position: relative;
                left: 9em;
                top: -2.9em;
                cursor: pointer;
                text-align: center;
                p {
                    margin: auto;
                }
            }
        }

        .info-acc {
            margin-top: 2.5em;
            margin-left: 1.5em;
            width: 200px;
            p {
                font-weight: bold;
                font-size: 1.25em;
                color: white;
            }
            // mtop: 50%;
        }
    }
    #user-avt:hover {
        #btn-change-avt {
            display: flex;
        }
    }
    .account-detail-content {
        border-radius: 5px;

        width: 100%;
        margin-top: 3em;
        margin-bottom: 10em;
        // height: 1000px;
        //background-color: aqua;

        #acc-menu-side {
            // background-color: #C1C1C1;
            display: flex;
            flex-direction: column;
            .tab {
                height: 100px;
                cursor: pointer;
                padding: 1em 2em;
                width: 100%;
                background-color: #e0e0e0;
                text-decoration: none;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: center;

                p {
                    margin-left: 1em;
                    margin-top: 4px;
                    font-size: 0.9em;
                    color: black;
                }
            }
            .tab::before {
                border-left: 12px solid #e0e0e0;
                height: 100px;
                content: '';
                position: relative;
                left: -44px;
            }
            .tab-active {
                background-color: rgb(243, 243, 243);
            }
            .tab-active::before {
                border-left: 12px solid $main-color;
                height: 100px;
                content: '';
                position: relative;
                left: -44px;
            }
        }
        #acc-content {
            background-color: white;
            border: 1px solid $main-color;
            .btn-fix {
                cursor: pointer;
                border: 2px solid $main-color;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                height: 4em;
                width: 4em;
                color: $main-color;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            form {
                margin-top: 6em;
            }
        }
    }
}
@media screen and (max-width: 85em) {
    .login-cart {
        .login {
            margin-top: 0em;
            display: flex;
            flex-direction: column;
            a {
                padding: 0em 0.5em;
            }
            .sign-in {
                margin-bottom: 0.2em;
            }
        }
        .cart {
            margin-left: 3em;
            .cart-in {
                // margin-left: 1em;
            }
        }
    }
}
