@font-face {
    font-family: ChakraPetch-Medium;
    src: url(/font/ChakraPetch-Medium.ttf);
  }
@font-face{
  font-family: ChakraPetch-Bold;
  src: url(/font/ChakraPetch-Bold.ttf);
}
@font-face{
  font-family: ChakraPetch-Italic;
  src: url(/font/ChakraPetch-Italic.ttf);
}
@font-face{
  font-family: ChakraPetch-Light;
  src: url(/font/ChakraPetch-Light.ttf);
}
@font-face{
  font-family: ChakraPetch-LightItalic;
  src: url(/font/ChakraPetch-LightItalic.ttf);
}
@font-face{
  font-family: ChakraPetch-Regular;
  src: url(/font/ChakraPetch-Regular.ttf);
}
@font-face{
  font-family: ChakraPetch-MediumItalic;
  src: url(/font/ChakraPetch-MediumItalic.ttf);
}
@font-face{
  font-family: ChakraPetch-SemiBold;
  src: url(/font/ChakraPetch-SemiBold.ttf);
}
@font-face{
  font-family: ChakraPetch-SemiBoldItalic;
  src: url(/font/ChakraPetch-SemiBoldItalic.ttf);
}