@import 'var';

.main__show-all {
    font-family: ChakraPetch-Regular;
    .a {
        .all-product {
            .list-product {
                .header__list-product {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em 0;
                    div {
                        span:first-child {
                            font-family: ChakraPetch-Bold;
                            margin-right: 1em;
                        }
                    }
                }
                .list__sub-menu-product {
                    ul {
                        // font-family: ChakraPetch-Regular;
                        padding-left: 0;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        background-color: $main-color;
                        a {
                            padding: 0.5em 0;
                            text-align: center;
                            text-decoration: none;
                            width: 25%;
                            color: white;
                            font-family: ChakraPetch-SemiBold;
                            font-size: 1.2em;
                            // background-color: yellowgreen;
                        }
                        a:hover {
                            background-color: #009900;
                        }
                    }
                }
                .list__all-product {
                    display: grid;
                    grid-template-columns: 32.5% 32.5% 32.5%;
                    column-gap: 0.65em;
                    row-gap: 0.65em;
                    // display: inline-block;
                    .product__in-list {
                        width: 100%;
                        .card {
                            // width: 263px;
                            // background-color: yellowgreen;
                            text-decoration: none;
                            .main__product {
                                padding: 0 0.5em;
                                background-color: white;
                                border-top-left-radius: 5px;
                                border-top-right-radius: 5px;
                                border-bottom: 1px solid #ededed;
                                position: relative;
                                .btn__main-product {
                                    position: absolute;
                                    right: 0;
                                    bottom: 1em;
                                    border-radius: 25px;
                                    background: #f0f3fc;
                                    padding: 0.2em;
                                    display: none;
                                    button {
                                        display: block;
                                        background-color: #f0f3fc;
                                        width: 2.5em;
                                        height: 2.5em;
                                        border-radius: 25px;
                                        border: 0;
                                    }
                                    button:first-child {
                                        margin-bottom: 0.5em;
                                    }
                                    button:hover {
                                        background-color: $main-color;
                                    }
                                }
                            }

                            .main__product:hover .btn__main-product {
                                display: block;
                                right: 10px;
                                visibility: visible;
                                opacity: 1;
                            }
                            .body__card {
                                h5 {
                                    height: 3em;
                                    padding: 0.5em 0.5em 0 0.5em;
                                    margin-bottom: 0;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    a {
                                        font-size: 1em;
                                        font-family: ChakraPetch-SemiBold;
                                        color: #000;
                                        text-decoration: none;
                                    }
                                }
                                .product-reviews {
                                    display: flex;
                                    padding: 0.2em 0.5em 0 0.5em;
                                    .star-reviews {
                                        margin-right: 1em;
                                        font-size: 0.9em;
                                        color: #99a0ad;
                                    }
                                    .evaluate {
                                        color: #99a0ad;
                                        font-family: ChakraPetch-SemiBold;
                                    }
                                }
                                .mn-product {
                                    display: flex;
                                    padding: 0.2em 0.5em;
                                    // vertical-align: text-bottom;
                                    p {
                                        margin-bottom: 0;
                                    }
                                    .card-text {
                                        margin-right: 1em;
                                        font-size: 1em;
                                        color: #f9495f;
                                        font-family: ChakraPetch-Bold;
                                    }
                                    .price {
                                        font-family: ChakraPetch-SemiBoldItalic;
                                        color: #99a0ad;
                                        font-size: 0.8em;
                                        // text-align: center;
                                        text-decoration: line-through;
                                        vertical-align: text-bottom;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
