@import 'var';

.main-home{
    .main__home{
        .container-product {
            width: 100%;
            margin: 0 auto;
            .ls-product {
                //  Phần title bên trên
                .seperate {
                    width: 100%;
                    padding: 2em 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .seperate__left {
                        width: 30%;
                        display: flex;
                        .seperate__square {
                            width: 100%;
                            height: 7px;
                            background: $border-color;
                        }
                        .triangle_down {
                            width: 0;
                            height: 0;
                            border-top: 7px solid $border-color;
                            border-left: 0px solid transparent;
                            border-right: 7px solid transparent;
                        }
                    }
                    p {
                        margin-bottom: 0;
                        font-family: ChakraPetch-Bold;
                        font-size: 1.4rem;
                        color: $text-color;
                    }
                    .seperate__right {
                        width: 30%;
                        display: flex;
                        .seperate__square {
                            width: 100%;
                            height: 7px;
                            background: $border-color;
                        }
                        .triangle_up {
                            width: 0;
                            height: 0;
                            border-bottom: 7px solid $border-color;
                            border-left: 7px solid transparent;
                            border-right: 0px solid transparent;
                        }
                    }
                }
        
                // Các mục của ls product
                .ls-product-main {
                    display: grid;
                    grid-column-gap: 30px;
                    grid-row-gap: 30px;
                    grid-template-columns: 23% 23% 23% 23%;
                    grid-template-rows: 8em 8em;
                    a {
                        position: relative;
                        overflow: hidden;
                        text-decoration: none;
                        font-family: Roboto;
                        font-size: 1.2em;
                        background-color: $main-color;
                        .detail-lspm {
                            display: flex;
                            padding: 1em 0 1em 1em;
                            color: white;
                            .tilte-lspm {
                                position: relative;
                                z-index: 1;
                            }
                            img {
                                position: absolute;
                                top: 10%;
                                left: 60%;
                                max-width: 199px;
                                max-height: 99px;
                                width: auto;
                                height: auto;
                                z-index: 1;
                            }
                            .shape {
                                border-style: solid;
                                border-width: 0 0 132px 34.656px;
                                position: absolute;
                                top: 0;
                                left: 52%;
                                width: 100%;
                                overflow: hidden;
                            }
                        }
                    }
                    a:hover img {
                        left: 52%;
                        transition-duration: 0.3s;
                    }
                    a:hover .shape {
                        left: 42%;
                        transition-duration: 0.3s;
                    }
                }
            }
        }

        .brand-products{
            padding-bottom: 2em;
            //  Phần title bên trên
            .seperate {
                width: 100%;
                padding: 2em 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .seperate__left {
                    width: 30%;
                    display: flex;
                    .seperate__square {
                        width: 100%;
                        height: 7px;
                        background: $border-color;
                    }
                    .triangle_down {
                        width: 0;
                        height: 0;
                        border-top: 7px solid $border-color;
                        border-left: 0px solid transparent;
                        border-right: 7px solid transparent;
                    }
                }
                p {
                    margin-bottom: 0;
                    font-family: ChakraPetch-Bold;
                    font-size: 1.4rem;
                    color: $text-color;
                }
                .seperate__right {
                    width: 30%;
                    display: flex;
                    .seperate__square {
                        width: 100%;
                        height: 7px;
                        background: $border-color;
                    }
                    .triangle_up {
                        width: 0;
                        height: 0;
                        border-bottom: 7px solid $border-color;
                        border-left: 7px solid transparent;
                        border-right: 0px solid transparent;
                    }
                }
            }
            .main__discount-products{
                .slick__slider-discount{
                    overflow: hidden;
                    position: relative;
                    .img__brand{
                        padding: 0.5em 0;
                        display: flex;
                        justify-content: center;
                        height: 100px;
                        border: 1px solid $border-color;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    button{
                        margin: 0;
                        padding: 0;
                        background: none;
                        border: none;
                        border-radius: 0;
                        outline: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                      }
                      .prev-arrow{
                        left: -40px;
                        width: 0;
                        height: 0;
                        border-left: 0 solid transparent;
                        border-right: 15px solid #113463;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                      }
                      .next-arrow{
                        right: -40px;
                        width: 0;
                        height: 0;
                        border-right: 0 solid transparent;
                        border-left: 15px solid #113463;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                      }
                      .slide-arrow{
                        position: absolute;
                        top: 50%;
                        margin-top: -15px;
                      }
                }
            }

        }
    }
}
