@import 'var';

// Trang danh mục sản phẩm
.product-main {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: 0;

    // Bộ lọc sản phẩm
    .filter {
        width: 19%;

        // Lọc theo hãng sản xuất
        .filter-manufacturer {
            background-color: #f0f3fc;
            margin-top: 10px;

            // Title
            .manufacturer {
                padding: 10px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .fa-angle-right {
                    float: right;
                }
            }

            // Danh sách hãng
            ul {
                overflow-y: auto;
                margin: 0 auto;
                width: 95%;
                border-top: 1px solid cadetblue;
                padding-left: 1em;
                padding-bottom: 1em;
                .manufacturer-main {
                    margin-top: 10px;
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    font-size: 1em;
                    font-family: Roboto;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background-color: #eee;
                    }
                    .checkmark:after {
                        content: '';
                        position: absolute;
                        display: none;
                    }
                }
                .manufacturer-main input:checked ~ .checkmark {
                    background-color: #2196f3;
                }

                .manufacturer-main input:checked ~ .checkmark:after {
                    display: block;
                }

                .manufacturer-main .checkmark:after {
                    left: 8px;
                    top: 4px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    // Danh sách sản phẩm
    .all-products {
        width: 80%;
        display: grid;
        // grid-template-columns: 240px 240px 240px 240px;
        grid-template-columns: 25% 25% 25% 25%;
        // grid-template-rows: 550px 550px 550px;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;

        // Từng sản phẩm trong danh sách
        .list-all-products {
            position: relative;
            overflow: hidden;
            .card {
                border-radius: 0px;
                text-decoration: none;
                // Sản phẩm
                .body-card {
                    height: 355px;
                    .card-title {
                        // overflow: hidden;
                        color: black;
                        font-family: ChakraPetch-SemiBold;
                        font-size: 1em;
                        height: 2.5em;
                        overflow: hidden;
                        margin-bottom: 3px;
                    }

                    .card-body {
                        height: 125px;
                        padding: 5px;

                        .card-bottom {
                            .product-reviews {
                                color: #99a0ad;
                                display: flex;
                                margin-bottom: 3px;
                                .evaluate {
                                    margin-left: 10px;
                                }
                            }

                            .mn-product {
                                display: flex;

                                .card-text {
                                    color: #f9495f;
                                    font-weight: bold;
                                    font-size: 1.1em;
                                }

                                .price {
                                    text-decoration: line-through;
                                    margin-left: 10px;
                                    font-style: oblique;
                                    color: #99a0ad;
                                }
                            }
                        }
                    }

                    // Hình ảnh sản phẩm
                    .image-product {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 250px;
                        background-color: white;
                        .card-img-top {
                            overflow: hidden;
                            max-width: 228px;
                            max-height: 228px;
                            width: auto;
                            height: auto;
                        }
                    }
                }
            }

            // Nút mua
            .btn-product {
                display: none;
                position: absolute;
                z-index: 10;
                top: 17.7em;
                left: 0.7em;
                width: 91%;

                text-align: center;
                .btn-xem {
                    margin-bottom: 5px;
                }
                .btn-buy {
                    border-radius: 5px;
                    // display: none;
                    display: inline-block;
                    font-size: 1em;
                    font-family: Roboto;
                    padding-top: 4px;
                    background-color: #f9495f;
                    color: white;
                    text-decoration: none;
                    text-align: center;
                    height: 2em;
                    width: 100%;
                }
                .btn__add{
                    border: 0;
                }
            }

            .discount {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                background: #f9495f;
                color: #fff;
                width: 65px;
                height: 32px;
                transform: skew(-12deg);
                align-items: center;
                justify-content: center;
                // overflow: hidden;
                margin-left: -5px;
                span {
                }
            }

            .card:hover .btn-product {
                display: block;
            }
            .card:hover .card-title {
                color: white;
            }
        }
        .list-all-products:hover .btn-product {
            display: block;
        }

        .list-all-products:hover .card-bottom {
            display: none;
        }

        .list-all-products:hover .card {
            background-color: $main-color;
        }

        // .list-all-products:hover .card-title {
        //     color: white;
        // }
    }
}
