@import 'var';
.container {
    .product__detail {
        font-family: ChakraPetch-Regular;
        padding: 0 0 1em 0;
        margin-top: 1em;

        // Thông tin sản phẩm
        .product__detail-top {
            padding: 1em 0;
            display: flex;

            // Phần bên trái - phẩn ảnh của sản phẩ
            .product__detail-top-left {
                background-color: white;
                padding-right: 1em;
                .product__detail-img {
                    border: 1px solid steelblue;
                    padding: 0.5em;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    img {
                        max-width: 348px;
                        max-height: 348px;
                        width: auto;
                        width: auto;
                    }
                }
                .product__detail-img-mini {
                    display: flex;
                    margin-top: 3em;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        cursor: pointer;
                        border-radius: 5px;
                        border: 1px solid steelblue;
                        max-height: 80%;
                        overflow-y: hidden;
                        // max-width: 120px;
                        // max-height: 120px;
                        // // max-width: 100%;
                        // // max-height: 100%;
                        // width: auto;
                        // width: auto;
                    }
                    img:hover {
                        border-color: $main-color;
                    }

                    button {
                        // background-color: none;
                        padding: 1em 0.5em;
                        // opacity: 0.5;
                        border: 1px solid white;
                        background-color: white;
                        color: #111;
                    }
                }
            }

            // Phần bên phải - Giá và các thông số kỹ thuật
            .product__detail-top-right {
                padding-left: 1em;
                h4 {
                    font-family: ChakraPetch-Bold;
                    font-size: 1.6em;
                    color: $text-color;
                }
                .detail__product-reviews {
                    display: flex;
                    justify-content: space-between;
                    .detail__star-reviews {
                        display: flex;
                        margin-right: 1em;
                        color: #99a0ad;
                        i {
                            margin-left: 0.5em;
                        }
                        .detail__evaluate {
                            margin-left: 2em;
                            font-family: ChakraPetch-SemiBold;
                            color: #99a0ad;
                        }
                    }
                    // .short-desc{
                    //     line-height: 1;
                    // }
                    // .detail__star-reviews:last-child{
                    //     margin-right: 1em;
                    // }
                    //     .detail__evaluate{
                    //         color: #99a0ad;
                    //         font-family: ChakraPetch-SemiBold;
                    //     }
                    .baohanh {
                        font-family: ChakraPetch-Bold;
                        color: #ff8f02;
                    }
                }
                .detail__product-price :last-child {
                    margin-right: 1em;
                    color: #f9495f;
                    font-family: ChakraPetch-Bold;
                    font-size: 1.5em;
                    margin-bottom: 0;
                }
                .detail__product-price-cls {
                    color: #99a0ad;
                    font-family: ChakraPetch-MediumItalic;
                    font-size: 1.2em;
                    text-decoration: line-through;
                    margin-bottom: 0;
                }
                .detail__product-price :first-child {
                    font-family: ChakraPetch-Bold;
                    // color: #99a0ad;
                    // font-size: 1.2em;
                    // text-decoration: line-through;
                    margin-bottom: 0.2em;
                }
                .short-desc {
                    line-height: 1.2;
                    margin-top: 1em;
                }
                .status__quantity {
                    .stastus {
                        span {
                            color: #005ec4;
                            font-family: ChakraPetch-SemiBold;
                            i {
                                // color: $main-color;
                                margin-right: 0.5em;
                            }
                        }
                    }
                }
                .buttons__added__cart {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .buttons__added {
                        opacity: 1;
                        display: inline-block;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        white-space: nowrap;
                        vertical-align: top;
                        .is__form {
                            overflow: hidden;
                            position: relative;
                            background-color: #f9f9f9;
                            // background-color: green;
                            height: 2.8rem;
                            width: 1.9rem;
                            padding: 0;
                            text-shadow: 1px 1px 1px #fff;
                            border: 1px solid #ddd;
                        }
                        .minuss {
                            overflow: hidden;
                            position: relative;
                            background-color: #f9f9f9;
                            height: 2.8rem;
                            width: 1.9rem;
                            padding: 0;
                            text-shadow: 1px 1px 1px #fff;
                            border: 1px solid #ddd;
                        }
                        .is__form:focus,
                        .input-text:focus {
                            outline: none;
                        }
                        .minuss {
                            border-radius: 4px 0 0 4px;
                            color: black;
                        }
                        .pluss {
                            border-radius: 0 4px 4px 0;
                            color: black;
                        }
                        .input__qty {
                            background-color: #fff;
                            height: 2.8rem;
                            width: 4em;
                            text-align: center;
                            font-size: 1rem;
                            display: inline-block;
                            vertical-align: top;
                            margin: 0;
                            // border: none;
                            border-top: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            border-left: 0;
                            border-right: 0;
                            padding: 0;
                        }
                        .input__qty::-webkit-outer-spin-button,
                        .input__qty::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                    .btn__added {
                        background-color: white;
                        color: $main-color;
                        padding-top: 0.4em;
                        padding-bottom: 0.4em;
                        border-radius: 5px;
                        border: 1px solid $main-color;
                        .fa-shopping-basket {
                            margin-right: 10px;
                            background-color: white;
                            color: $main-color;
                        }
                    }
                    .btn__added:hover {
                        color: #ff8f02;
                        border: 1px solid #ff8f02;
                        i {
                            color: #ff8f02;
                        }
                    }
                    .btn__buynow:hover {
                        background-color: #009933;
                        i {
                            background-color: #009933;
                        }
                    }
                }
                .buttons__added__cart :last-child {
                    background-color: $main-color;
                    color: white;
                    padding-top: 0.4em;
                    padding-bottom: 0.4em;
                    border-radius: 5px;
                    border: none;
                    .fa-plus {
                        margin-right: 10px;
                    }
                }
            }
        }

        // THông tin về các hình thức thanh toán và trợ
        .product__detail-policy__item {
            display: flex;
            justify-content: space-between;
            margin-top: 2em;
            padding: 0em 0em 1em 0;
            .policy__item {
                display: flex;
                padding: 0.8em;
                width: 22%;
                background-color: #f0f3fc;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 3em;
                    text-decoration: inherit;
                    color: $text-color;
                    padding: 0 0.3em;
                }
                p {
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }

        // Title
        .seperate {
            width: 100%;
            padding: 2em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .seperate__left {
                width: 30%;
                display: flex;
                .seperate__square {
                    width: 100%;
                    height: 7px;
                    background: $main-color;
                }
                .triangle_down {
                    width: 0;
                    height: 0;
                    border-top: 7px solid $main-color;
                    border-left: 0px solid transparent;
                    border-right: 7px solid transparent;
                }
            }
            p {
                margin-bottom: 0;
                font-family: ChakraPetch-Bold;
                font-size: 1.4rem;
                color: $main-color;
            }
            .seperate__right {
                width: 30%;
                display: flex;
                .seperate__square {
                    width: 100%;
                    height: 7px;
                    background: $main-color;
                }
                .triangle_up {
                    width: 0;
                    height: 0;
                    border-bottom: 7px solid $main-color;
                    border-left: 7px solid transparent;
                    border-right: 0px solid transparent;
                }
            }
        }

        // Các thông tin - đánh giá sản phẩm
        .product__detail-menu-mini {
            padding-left: 0;
            padding-right: 0;
            .detail-menu-mini {
                background-color: #f0f3fc;
                display: flex;
                div {
                    cursor: pointer;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    color: $main-color;
                    font-family: ChakraPetch-Bold;
                    font-size: 1.1em;
                }
                div:hover {
                    background-color: $main-color;
                    color: white;
                }
            }
            .tabcontent {
                display: none;
            }
            .content-description {
                display: block;
                padding: 0;
                margin-top: 1em;
                p {
                    text-align: center;
                    font-size: 16px !important;
                    line-height: 24px;
                }
                div {
                    // padding: 0.5em;
                    img {
                        max-width: 100%;
                        width: auto;
                    }
                }
            }
            .content-specification {
                .content-specification-main {
                    table {
                        tbody {
                            tr {
                                td {
                                    border: 1px solid $line-color;
                                }
                                td :first-child {
                                    width: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
