@import 'var';

//Tablet & Mobile
@media only screen and (max-width: 64em) {
    #header-id{
        #header-main{
            .header-container{
                .login-cart{
                    .cart{
                        margin: 0;
                        .cart-in{
                            border: none;
                            margin: 0;
                            padding: 0;
                            width: 2em;
                            border: 1px solid white;
                            font-size: 1.5em;
                            background-color: #009933;
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        #nav-bar{
            display: none;
        }
        .nav-tablet{
            display: block;
            width: 100%;
            background-color: #eef0f7;
            .icon-nav-tablet{
                padding-top: 5px;
                display: inline-block;
                cursor: pointer;
                .bar1, .bar2, .bar3 {
                width: 30px;
                height: 2px;
                background-color: #333;
                margin: 6px 7px;
                transition: 0.4s;
                }
                .bar1 .change{
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                  }
                  
                .bar2 .change{opacity: 0;}
                  
                .bar3 .change{
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                  }
            }
    
            .main__nav-tablet{
                background-color: $main-color;
                display: none;
                .title__nav-tablet{
                    width: 100%;
                    padding: 7px 0;
                    margin: 0 auto;
                    border-bottom: 1px solid white;
                    color: white;
                    font-size: 1.2rem;
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 1rem;
                    }
    
                    .icon__nav-tab{
                        padding: 0 10px;
                    }
                    span{
                        font-weight: bold;
                        font-size: 1rem;
                    }
                    #myUL{
                        display: none;
                        margin-top: 7px;
                        margin-bottom: 0;
                        // padding: 5px 0;
                        padding: 0;
                        list-style: none;
                        background-color: white;
                        width: 100%;
                        a{
                            color: $text-color;
                            li{
                                padding: 7px 10px;
                                border-bottom: 1px solid #E8E8E8;
                            }
                        }
                    }
                }
            }
        }
    }

    #slide-event{
        // display: none;
    }

    .container{
        // margin-top: 500px;
    }

}

// tablet 768px-1024px
@media only screen and (min-width: 767px) and (max-width: 64em) {
    .product-main{
        .filter{
            width: 32%;
        }

        .all-products{
            width: 100%;
            grid-template-columns: 50% 50%;
            .list-all-products{
                .card {
                    height: 330px;
                    .body-card {
                        .card-body{
                            .card-title{
                                font-size: 1em;
                            }
                            .card-bottom{
                                .product-reviews{
                                    .star-reviews{
                                        font-size: 0.8rem;
                                    }
                                    .evaluate{
                                        font-size: 0.8rem;
                                    }
                                }
        
                                .mn-product{
                                    .card-text{
                                        font-size: 0.9em;
                                    }
    
                                    .price{
                                        font-size: 0.75em;
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-product{
                    top: 18em;
                    left: 0;
                    width: 100%;
                    .btn-buy {
                        padding-top: 8px;
                        font-size: 0.9em;
                        height: 2.5em;
                        width: 45%;
                        text-align: center;
                    }
                }

                .discount{
                    width: 55px;
                    height: 30px;
                    margin-left: -5px;
                    span{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    #header-id{
        #header-main{
            .header-container{
                display: flex;
                align-items: center;
                .logo{
                    a{
                        img{
                            max-width: 90px;
                            max-height: 50px;
                            width: auto;
                            height: auto;
                        }
                    }
                }
                .search{
                    // display: none;
                    margin: 0;
                    font-size: 0.9rem;
                }
                .login-cart{
                    .cart{
                        margin: 0;
                        .cart-in{
                            border: none;
                            margin: 0;
                            padding: 0;
                            width: 2em;
                            border: 1px solid white;
                            font-size: 1.5em;
                            background-color: #009933;
                            span{
                                display: none;
                            }
                        }
                    }
                    .login{
                        // display: none;
                    }
                }
                .sidenav__mobile{
                    display: none;
                }
            }
        }
        #nav-bar{
            display: none;
        }
        .nav-tablet{
            margin: 0 auto;
            display: block;
            width: 100%;
            background-color: #eef0f7;
            .icon-nav-tablet{
                padding-top: 5px;
                display: inline-block;
                cursor: pointer;
                .bar1, .bar2, .bar3 {
                width: 30px;
                height: 2px;
                background-color: #333;
                margin: 6px 7px;
                transition: 0.4s;
                }
                .bar1 .change{
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                  }
                  
                .bar2 .change{opacity: 0;}
                  
                .bar3 .change{
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                  }
            }
    
            .main__nav-tablet{
                background-color: $main-color;
                display: none;
                width: 85%;
                margin: 0 auto;
                .title__nav-tablet{
                    width: 100%;
                    padding: 7px 0;
                    margin: 0 auto;
                    border-bottom: 1px solid white;
                    color: white;
                    font-size: 1.2rem;
                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 1rem;
                    }
    
                    .icon__nav-tab{
                        padding: 0 10px;
                    }
                    span{
                        font-weight: bold;
                        font-size: 1rem;
                    }
                    #myUL{
                        display: none;
                        margin-top: 7px;
                        margin-bottom: 0;
                        // padding: 5px 0;
                        padding: 0;
                        list-style: none;
                        background-color: white;
                        width: 100%;
                        a{
                            color: $text-color;
                            li{
                                padding: 7px 10px;
                                border-bottom: 1px solid #E8E8E8;
                            }
                        }
                    }
                }
            }
        }
    }

    #slide-event{
        // display: none;
    }

    .container{
        // margin-top: 500px;
    }

    #footer-id{
        .footer-main{
            // width: 100%;
            flex-direction: column;
            padding: 1em 0;
            justify-content: center;
           .gt{
               width: 100%;
               display: flex;
               justify-content: space-around;
            //    margin-bottom: 1em;
                .address{
                    // display: flex;
                    // align-content: space-between;
                }
           } 
           .ft-main{
                margin-top: 1em;
                justify-content: center;
                width: 100%;
                justify-content: space-around;
            }
        }
    }
}

// mobile: nhỏ hơn 768px
@media screen and (max-width: 766px) {
    #header-id{
        #header-main{
            .mobile__search{
                display: block;
            }
            .header-top{
                display: none;
            }
            .header-container{
                // display: flex;
                padding-left: 1em;
                padding-right: 1em;
                max-width: 100%;
                // width: 100%;
                .sidenav__mobile{
                    display: block;
                    .sidenav {
                        height: 100%;
                        width: 0;
                        position: fixed;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        background-color: #111;
                        overflow-x: hidden;
                        transition: 0.5s;
                        padding-top: 60px;
                        a {
                            padding: 8px 8px 8px 32px;
                            text-decoration: none;
                            font-size: 1em;
                            color: #818181;
                            display: block;
                            transition: 0.3s;
                        }
                        .closebtn {
                            position: absolute;
                            top: 0;
                            right: 25px;
                            font-size: 36px;
                            margin-left: 50px;
                        }
                    }
                    .sidenav a:hover {
                        color: #f1f1f1;
                    }
                      
                }
                .logo{
                    a{
                        img{
                            width: 100px;
                        }
                    }
                }
                .search{
                    display: none;
                    margin: 0;
                    input{
                        width: 180px;
                    }
                }
                .login-cart{
                    .login{
                        display: none;
                    }

                }
            }
            .mobile__search{
                padding: 0.5em 1em;
                input{
                    border: white;
                    border-radius: 5px;
                    background: rgba(255,255,255,0.2);
                    padding: 1em 1em;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
        #nav-bar{
            display: none;
        }
        .nav-tablet{

            display: none;
        }
    }

    .container{
        // margin-top: 500px;
    }

    #footer-id{
        .footer-main{
            // width: 100%;
            flex-direction: column;
            padding: 1em 0;
            justify-content: center;
           .gt{
               width: 100%;
               text-align: center;
            //    display: flex;
            //    justify-content: space-around;
            //    margin-bottom: 1em;
                .address{
                    .footer-social{
                        display: none;
                    }
                    // display: flex;
                    // align-content: space-between;
                }
           } 
           .ft-main{
               width: 100%;
               flex-direction: column;
               text-align: center;
                // margin-top: 1em;
                // justify-content: center;
                // width: 100%;
                // justify-content: space-around;
            }
        }
    }
}