<div class="main__sub-menu">
    {{!-- <div class="banner__submenu">
        <img src="/img/banner-submenu/a.jpg" alt="">
    </div> --}}
    <div class="seperate">
        <div class="seperate__left">
            <div class="seperate__square"></div>
            <div class="triangle_down"></div>
        </div>
        <p>LỰA CHỌN PC MÀ BẠN MUỐN</p>
        <div class="seperate__right">
            <div class="triangle_up"></div>
            <div class="seperate__square"></div>
        </div>
    </div>
    <div class="main__sb-buildpc">
        <div class="cat-item">
            <div class="img__cat-item">
                <a href="#"><img src="/img/banner-submenu/build-pc/cat-gp-gaming.png" alt=""></a>
                <div class="detail__cat-item">
                    <h4>PC GAMING</h4>
                    <p>PC cấu hình khủng cùng linh kiện cao cấp,<br>đem tới trải nghiệm gaming hấp dẫn nhất.</p>
                    <a href="#">XEM THÊM</a>
                </div>
            </div>
        </div>
        <div class="cat-item">
            <div class="img__cat-item">
                <a href="#"><img src="/img/banner-submenu/build-pc/cat-gp-video.png" alt=""></a>
                <div class="detail__cat-item">
                    <h4>PC WORKSTATION</h4>
                    <p>Cấu hình PC chuyên dụng cho các công việc thiết kế,<br>kiến trúc, đồ họa đòi hỏi hiệu suất cao.</p>
                    <a href="#">XEM THÊM</a>
                </div>
            </div>

        </div>
    </div>

    <div class="product__detail-policy__item">
        <div class="policy__item">
            <i class="far fa-credit-card"></i>
            <p>Hỗ trợ trả góp 0%, trả trước 0đ</p>
        </div>
        <div class="policy__item">
            <i class="fad fa-money-bill-alt"></i>
            <p>Hoàn tiền 200% nếu có hàng giả</p>
        </div>
        <div class="policy__item">
            <i class="fas fa-shipping-fast"></i>
            <p>Giao hàng nhanh trên toàn quốc</p>
        </div>
        <div class="policy__item">
            <i class="far fa-comment-alt-dots"></i>
            <p>Hỗ trợ kĩ thuật online 7/7</p>
        </div>
    </div>
</div>