
<div class="main__sub-menu">
    <div class="banner__submenu">
        <img src="/img/banner-submenu/banner-danh-mucman-hinh.jpg" alt="">
    </div>
    <div class="seperate">
        <div class="seperate__left">
            <div class="seperate__square"></div>
            <div class="triangle_down"></div>
        </div>
        <p>LAPTOPS</p>
        <div class="seperate__right">
            <div class="triangle_up"></div>
            <div class="seperate__square"></div>
        </div>
    </div>
    <div class="block__content">
        <a href="/product/mainboard/list" class="list__cat__item">
            <span class="" >LAPTOP <br>GAMING</span>
            <div class="img-detail__submenu"><img src="/img/banner-submenu/laptop/gaming.png" alt=""></div>
        </a>
        <a href="/product/cpu/list" class="list__cat__item">
            <span>LAPTOP <br>VĂN PHÒNG</span>
            <div class="img-detail__submenu"><img src="/img/banner-submenu/laptop/vanphong.png" alt=""></div>
        </a>
        <a href="/product/ram/list" class="list__cat__item">
            <span>PHỤ KIỆN <br>LAPTOP</span>
            <div class="img-detail__submenu"><img src="/img/banner-submenu/laptop/phu-kien.png" alt=""></div>
        </a>
        <a href="/product/hdd/list" class="list__cat__item">
            <span>TẢN NHIỆT <br>LAPTOP</span>
            <div class="img-detail__submenu"><img src="" alt=""></div>
        </a>
    </div>

    <div class="product__detail-policy__item">
        <div class="policy__item">
            <i class="far fa-credit-card"></i>
            <p>Hỗ trợ trả góp 0%, trả trước 0đ</p>
        </div>
        <div class="policy__item">
            <i class="fad fa-money-bill-alt"></i>
            <p>Hoàn tiền 200% nếu có hàng giả</p>
        </div>
        <div class="policy__item">
            <i class="fas fa-shipping-fast"></i>
            <p>Giao hàng nhanh trên toàn quốc</p>
        </div>
        <div class="policy__item">
            <i class="far fa-comment-alt-dots"></i>
            <p>Hỗ trợ kĩ thuật online 7/7</p>
        </div>
    </div>
</div>