<div class="container main__show-all">
  <div class="row a">
    <div class="col-3">
      Column
    </div>
    <div class="col-9 all-product">
      <div class="list-product">
        <div class="header__list-product">
          <div>
            <span>TẤT CẢ SẢN PHẨM</span>
            <span>(100 Sản phẩm)</span>
          </div>
          <form action="">
            <label for="">Sắp sếp theo:</label>
            <select name="">
              <option value="">Mới nhất</option>
              <option value="">Giá (Thấp - Cao)</option>
              <option value="">Giá (Cao - Thấp)</option>
              <option value="">Tên (A - Z)</option>
              <option value="">Tên (Z - A)</option>
            </select>
          </form>
        </div>
        <div class="list__sub-menu-product">
          <ul>
            <a href="#">Mới về</a>
            <a href="#">Giảm giá</a>
            <a href="#">Bán chạy</a>
            <a href="#">Nổi bật</a>
          </ul>
        </div>
        <div class="list__all-product">
          {{#each products}}
          <div class="product__in-list col-4">
            <div class="card">
              {{!-- Image cua the --}}
              <div class="main__product">
                <div class="image-product"><a href="#"><img src="{{this.img}}" class="card-img-top" alt="..."></a></div>
                <div class="btn__main-product">
                  <button title="Xem chi tiet"><i class="fas fa-search"></i></button>
                  <button title="Them vao gio hang"><i class="fas fa-cart-plus"></i></button>
                </div>
              </div>

              {{!-- Body cua the --}}
              <div class="body__card">
                 <h5 class="card-title"><a href="#">{{this.name}}</a></h5>
                 <div class="product-reviews">
                  <div class="star-reviews">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="evaluate">0 đánh giá</div>
                </div>
                <div class="mn-product">
                  <p id="money-product" class="card-text currFormat">{{this.price}} đ</p>
                  <p class="price currFormat">{{this.price}} đ</p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>