<div class="container-order__notice">
    <div class="order__notice-img"><i class="fas fa-shipping-fast"></i></div>
    <div class="notification__order">
        <h2>BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG</h2>
        <p class="tks">Cảm ơn bạn đã mua hàng tại T2PC. Đơn hàng của bạn đang được xử lý.</p>
        <p>Chọn "Cài đặt" -> "Theo dõi đơn hàng" để theo dõi trạng thái đơn hàng của bạn</p>
    </div>
    <div class="way__back__home" style="margin: 10em auto;">
        <a href="/"><i class="fas fa-arrow-left"></i> QUAY LẠI TRANG CHỦ</a>
    </div>
</div>