.main__show-all {
  padding-top: 2em;
  font-family: ChakraPetch-Regular; }
  .main__show-all .a .filter {
    padding-top: 1em; }
    .main__show-all .a .filter h5 {
      font-family: ChakraPetch-SemiBold;
      color: #49b14d;
      padding-bottom: 0.5em; }
    .main__show-all .a .filter .filter-manufacturer {
      background-color: #f0f3fc;
      padding-left: 0em;
      padding-right: 0em; }
      .main__show-all .a .filter .filter-manufacturer .manufacturer {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.5em 1em 0.5em 1em;
        font-family: ChakraPetch-SemiBold; }
        .main__show-all .a .filter .filter-manufacturer .manufacturer .fa-angle-right {
          float: right; }
      .main__show-all .a .filter .filter-manufacturer .main__mft {
        display: none;
        overflow-y: auto;
        margin: 0 auto;
        width: 95%;
        border-top: 1px solid cadetblue;
        padding-left: 1em;
        padding-bottom: 1px; }
        .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main {
          margin-top: 10px;
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 5px;
          cursor: pointer;
          font-size: 1em;
          font-family: Roboto;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
          .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee; }
          .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main .checkmark:after {
            content: '';
            position: absolute;
            display: none; }
          .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main p {
            font-family: ChakraPetch-Medium; }
        .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main input:checked ~ .checkmark {
          background-color: #2196f3; }
        .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main input:checked ~ .checkmark:after {
          display: block; }
        .main__show-all .a .filter .filter-manufacturer .main__mft .manufacturer-main .checkmark:after {
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .main__show-all .a .filter .sort-by-money {
      margin-top: 1em;
      padding-bottom: 0.01em;
      margin-bottom: 1em; }
      .main__show-all .a .filter .sort-by-money .sort__by-mn {
        display: none;
        padding-left: 1em;
        padding-right: 1em; }
        .main__show-all .a .filter .sort-by-money .sort__by-mn div {
          text-align: center;
          background-color: white;
          padding: 0.5em 0;
          margin-bottom: 0.5em;
          cursor: pointer;
          color: #49b14d; }
        .main__show-all .a .filter .sort-by-money .sort__by-mn div :last-child {
          margin-bottom: 0; }
        .main__show-all .a .filter .sort-by-money .sort__by-mn div :hover {
          background-color: #49b14d;
          color: white; }
    .main__show-all .a .filter .sort-by-intel {
      margin-top: 1em;
      margin-bottom: 1em; }
    .main__show-all .a .filter .sort-by-amd {
      margin-top: 1em;
      margin-bottom: 1em; }
  .main__show-all .a .all-product .list-product .header__list-product {
    display: flex;
    justify-content: space-between;
    padding: 1em 0; }
    .main__show-all .a .all-product .list-product .header__list-product div span:first-child {
      font-family: ChakraPetch-Bold;
      margin-right: 1em; }
  .main__show-all .a .all-product .list-product .list__sub-menu-product ul {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #49b14d; }
    .main__show-all .a .all-product .list-product .list__sub-menu-product ul a {
      padding: 0.5em 0;
      text-align: center;
      text-decoration: none;
      width: 25%;
      color: white;
      font-family: ChakraPetch-SemiBold;
      font-size: 1.2em; }
    .main__show-all .a .all-product .list-product .list__sub-menu-product ul a:hover {
      background-color: #009900; }
  .main__show-all .a .all-product .list-product .list__all-product {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 0.65em;
    row-gap: 0.65em; }
    .main__show-all .a .all-product .list-product .list__all-product .product__in-list {
      width: 100%; }
      .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card {
        text-decoration: none; }
        .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product {
          padding: 0 0.5em;
          background-color: white;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom: 1px solid #ededed;
          position: relative; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product .btn__main-product {
            position: absolute;
            right: 0;
            bottom: 1em;
            border-radius: 25px;
            background: #f0f3fc;
            padding: 0.2em;
            display: none; }
            .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product .btn__main-product button {
              display: block;
              background-color: #f0f3fc;
              width: 2.5em;
              height: 2.5em;
              border-radius: 25px;
              border: 0; }
            .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product .btn__main-product button:first-child {
              margin-bottom: 0.5em; }
            .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product .btn__main-product button:hover {
              background-color: #49b14d; }
        .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .main__product:hover .btn__main-product {
          display: block;
          right: 10px;
          visibility: visible;
          opacity: 1; }
        .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card h5 {
          height: 3em;
          padding: 0.5em 0.5em 0 0.5em;
          margin-bottom: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card h5 a {
            font-size: 1em;
            font-family: ChakraPetch-SemiBold;
            color: #000;
            text-decoration: none; }
        .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews {
          display: flex;
          padding: 0.2em 0.5em 0 0.5em;
          justify-content: space-between; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews .star-reviews {
            margin-right: 1em;
            font-size: 0.9em;
            color: #99a0ad; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews .views {
            position: relative;
            margin-right: 0.5em;
            cursor: pointer; }
            .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews .views p {
              margin-bottom: 0; }
            .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews .views .tatal-views {
              position: absolute;
              display: none;
              color: #f9495f;
              width: 110px;
              top: 0;
              right: 15px;
              font-family: ChakraPetch-SemiBold; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .product-reviews .views:hover .tatal-views {
            display: block; }
        .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .mn-product {
          display: flex;
          padding: 0.2em 0.5em; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .mn-product p {
            margin-bottom: 0; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .mn-product .card-text {
            margin-right: 1em;
            font-size: 1em;
            color: #f9495f;
            font-family: ChakraPetch-Bold; }
          .main__show-all .a .all-product .list-product .list__all-product .product__in-list .card .body__card .mn-product .price {
            font-family: ChakraPetch-SemiBoldItalic;
            color: #99a0ad;
            font-size: 0.8em;
            text-decoration: line-through;
            vertical-align: text-bottom; }
