.main-home .main__home .container-product {
  width: 100%;
  margin: 0 auto; }
  .main-home .main__home .container-product .ls-product .seperate {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-home .main__home .container-product .ls-product .seperate .seperate__left {
      width: 30%;
      display: flex; }
      .main-home .main__home .container-product .ls-product .seperate .seperate__left .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .container-product .ls-product .seperate .seperate__left .triangle_down {
        width: 0;
        height: 0;
        border-top: 7px solid #dddfe6;
        border-left: 0px solid transparent;
        border-right: 7px solid transparent; }
    .main-home .main__home .container-product .ls-product .seperate p {
      margin-bottom: 0;
      font-family: ChakraPetch-Bold;
      font-size: 1.4rem;
      color: #29324e; }
    .main-home .main__home .container-product .ls-product .seperate .seperate__right {
      width: 30%;
      display: flex; }
      .main-home .main__home .container-product .ls-product .seperate .seperate__right .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .container-product .ls-product .seperate .seperate__right .triangle_up {
        width: 0;
        height: 0;
        border-bottom: 7px solid #dddfe6;
        border-left: 7px solid transparent;
        border-right: 0px solid transparent; }
  .main-home .main__home .container-product .ls-product .ls-product-main {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    grid-template-rows: 8em 8em; }
    .main-home .main__home .container-product .ls-product .ls-product-main a {
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      font-family: Roboto;
      font-size: 1.2em;
      background-color: #49b14d; }
      .main-home .main__home .container-product .ls-product .ls-product-main a .detail-lspm {
        display: flex;
        padding: 1em 0 1em 1em;
        color: white; }
        .main-home .main__home .container-product .ls-product .ls-product-main a .detail-lspm .tilte-lspm {
          position: relative;
          z-index: 1; }
        .main-home .main__home .container-product .ls-product .ls-product-main a .detail-lspm img {
          position: absolute;
          top: 10%;
          left: 60%;
          max-width: 199px;
          max-height: 99px;
          width: auto;
          height: auto;
          z-index: 1; }
        .main-home .main__home .container-product .ls-product .ls-product-main a .detail-lspm .shape {
          border-style: solid;
          border-width: 0 0 132px 34.656px;
          position: absolute;
          top: 0;
          left: 52%;
          width: 100%;
          overflow: hidden; }
    .main-home .main__home .container-product .ls-product .ls-product-main a:hover img {
      left: 52%;
      transition-duration: 0.3s; }
    .main-home .main__home .container-product .ls-product .ls-product-main a:hover .shape {
      left: 42%;
      transition-duration: 0.3s; }

.main-home .main__home .discount__product {
  padding-bottom: 2em; }
  .main-home .main__home .discount__product .seperate {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-home .main__home .discount__product .seperate .seperate__left {
      width: 30%;
      display: flex; }
      .main-home .main__home .discount__product .seperate .seperate__left .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .discount__product .seperate .seperate__left .triangle_down {
        width: 0;
        height: 0;
        border-top: 7px solid #dddfe6;
        border-left: 0px solid transparent;
        border-right: 7px solid transparent; }
    .main-home .main__home .discount__product .seperate p {
      margin-bottom: 0;
      font-family: ChakraPetch-Bold;
      font-size: 1.4rem;
      color: #29324e; }
    .main-home .main__home .discount__product .seperate .seperate__right {
      width: 30%;
      display: flex; }
      .main-home .main__home .discount__product .seperate .seperate__right .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .discount__product .seperate .seperate__right .triangle_up {
        width: 0;
        height: 0;
        border-bottom: 7px solid #dddfe6;
        border-left: 7px solid transparent;
        border-right: 0px solid transparent; }
  .main-home .main__home .discount__product .slider__discount {
    position: relative; }
    .main-home .main__home .discount__product .slider__discount .main__slider {
      overflow: hidden; }
      .main-home .main__home .discount__product .slider__discount .main__slider .item {
        width: 300px;
        border-radius: 5px;
        border: 1px solid #dddfe6;
        margin: 0 0.5em; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .img-item {
          padding: 1px;
          border-bottom: 1px solid #dddfe6; }
          .main-home .main__home .discount__product .slider__discount .main__slider .item .img-item img {
            max-width: 100%;
            max-height: 80%;
            width: auto;
            height: auto; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .title-discount__product {
          padding: 0.5em 0.5em 0 0.5em; }
          .main-home .main__home .discount__product .slider__discount .main__slider .item .title-discount__product h5 {
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
            .main-home .main__home .discount__product .slider__discount .main__slider .item .title-discount__product h5 a {
              text-decoration: none;
              color: black; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .reviews-discount__product {
          display: flex;
          padding: 0 0.5em 0 0.5em;
          align-items: center; }
          .main-home .main__home .discount__product .slider__discount .main__slider .item .reviews-discount__product .star-reviews {
            margin-right: 1em; }
            .main-home .main__home .discount__product .slider__discount .main__slider .item .reviews-discount__product .star-reviews i {
              font-size: 0.8rem;
              color: #99a0ad; }
          .main-home .main__home .discount__product .slider__discount .main__slider .item .reviews-discount__product .evaluate {
            text-align: center;
            font-size: 1em;
            color: #99a0ad;
            font-family: ChakraPetch-SemiBold; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .price-discount__product {
          display: flex;
          align-items: center;
          padding: 0 0.5em 0.5em 0.5em; }
          .main-home .main__home .discount__product .slider__discount .main__slider .item .price-discount__product p {
            margin-bottom: 0; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .price-discount__product :first-child {
          color: #f9495f;
          font-family: ChakraPetch-Bold;
          font-size: 1.1rem;
          margin-right: 10px; }
        .main-home .main__home .discount__product .slider__discount .main__slider .item .price-discount__product :last-child {
          color: #99a0ad;
          font-family: ChakraPetch-SemiBoldItalic;
          font-size: 0.9rem;
          text-decoration: line-through; }
  .main-home .main__home .discount__product .arrow_prev {
    color: #dddfe6;
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 5px;
    padding: 20px 5px; }
    .main-home .main__home .discount__product .arrow_prev i {
      font-size: 1.5rem; }
  .main-home .main__home .discount__product .next_next {
    color: #dddfe6;
    cursor: pointer;
    position: absolute;
    top: 35%;
    right: 5px;
    padding: 20px 5px; }
    .main-home .main__home .discount__product .next_next i {
      font-size: 1.5rem; }

.main-home .main__home .brand-products {
  padding-bottom: 2em; }
  .main-home .main__home .brand-products .seperate {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main-home .main__home .brand-products .seperate .seperate__left {
      width: 30%;
      display: flex; }
      .main-home .main__home .brand-products .seperate .seperate__left .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .brand-products .seperate .seperate__left .triangle_down {
        width: 0;
        height: 0;
        border-top: 7px solid #dddfe6;
        border-left: 0px solid transparent;
        border-right: 7px solid transparent; }
    .main-home .main__home .brand-products .seperate p {
      margin-bottom: 0;
      font-family: ChakraPetch-Bold;
      font-size: 1.4rem;
      color: #29324e; }
    .main-home .main__home .brand-products .seperate .seperate__right {
      width: 30%;
      display: flex; }
      .main-home .main__home .brand-products .seperate .seperate__right .seperate__square {
        width: 100%;
        height: 7px;
        background: #dddfe6; }
      .main-home .main__home .brand-products .seperate .seperate__right .triangle_up {
        width: 0;
        height: 0;
        border-bottom: 7px solid #dddfe6;
        border-left: 7px solid transparent;
        border-right: 0px solid transparent; }
  .main-home .main__home .brand-products .main__discount-products .slider-discount {
    overflow: hidden;
    position: relative; }
    .main-home .main__home .brand-products .main__discount-products .slider-discount .img__brand {
      padding: 0.5em 0;
      display: flex;
      justify-content: center;
      height: 100px;
      border: 1px solid #dddfe6; }
      .main-home .main__home .brand-products .main__discount-products .slider-discount .img__brand img {
        max-width: 100%;
        max-height: 100%; }
    .main-home .main__home .brand-products .main__discount-products .slider-discount button {
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .main-home .main__home .brand-products .main__discount-products .slider-discount .prev-arrow {
      left: -40px;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 15px solid #113463;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; }
    .main-home .main__home .brand-products .main__discount-products .slider-discount .next-arrow {
      right: -40px;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-left: 15px solid #113463;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; }
    .main-home .main__home .brand-products .main__discount-products .slider-discount .slide-arrow {
      position: absolute;
      top: 50%;
      margin-top: -15px; }
