.product-main {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 0; }
  .product-main .filter {
    width: 19%; }
    .product-main .filter .filter-manufacturer {
      background-color: #f0f3fc;
      margin-top: 10px; }
      .product-main .filter .filter-manufacturer .manufacturer {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
        .product-main .filter .filter-manufacturer .manufacturer .fa-angle-right {
          float: right; }
      .product-main .filter .filter-manufacturer ul {
        overflow-y: auto;
        margin: 0 auto;
        width: 95%;
        border-top: 1px solid cadetblue;
        padding-left: 1em;
        padding-bottom: 1em; }
        .product-main .filter .filter-manufacturer ul .manufacturer-main {
          margin-top: 10px;
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 5px;
          cursor: pointer;
          font-size: 1em;
          font-family: Roboto;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .product-main .filter .filter-manufacturer ul .manufacturer-main input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
          .product-main .filter .filter-manufacturer ul .manufacturer-main .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee; }
          .product-main .filter .filter-manufacturer ul .manufacturer-main .checkmark:after {
            content: '';
            position: absolute;
            display: none; }
        .product-main .filter .filter-manufacturer ul .manufacturer-main input:checked ~ .checkmark {
          background-color: #2196f3; }
        .product-main .filter .filter-manufacturer ul .manufacturer-main input:checked ~ .checkmark:after {
          display: block; }
        .product-main .filter .filter-manufacturer ul .manufacturer-main .checkmark:after {
          left: 8px;
          top: 4px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
  .product-main .all-products {
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em; }
    .product-main .all-products .list-all-products {
      position: relative;
      overflow: hidden; }
      .product-main .all-products .list-all-products .card {
        border-radius: 0px;
        text-decoration: none; }
        .product-main .all-products .list-all-products .card .body-card {
          height: 355px; }
          .product-main .all-products .list-all-products .card .body-card .card-title {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.1em;
            height: 2.5em;
            overflow: hidden;
            margin-bottom: 3px; }
          .product-main .all-products .list-all-products .card .body-card .card-body {
            height: 125px;
            padding: 5px; }
            .product-main .all-products .list-all-products .card .body-card .card-body .card-bottom .product-reviews {
              color: #99a0ad;
              display: flex;
              margin-bottom: 3px; }
              .product-main .all-products .list-all-products .card .body-card .card-body .card-bottom .product-reviews .evaluate {
                margin-left: 10px; }
            .product-main .all-products .list-all-products .card .body-card .card-body .card-bottom .mn-product {
              display: flex; }
              .product-main .all-products .list-all-products .card .body-card .card-body .card-bottom .mn-product .card-text {
                color: #f9495f;
                font-weight: bold;
                font-size: 1.1em; }
              .product-main .all-products .list-all-products .card .body-card .card-body .card-bottom .mn-product .price {
                text-decoration: line-through;
                margin-left: 10px;
                font-style: oblique;
                color: #99a0ad; }
          .product-main .all-products .list-all-products .card .body-card .image-product {
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 250px;
            background-color: white; }
            .product-main .all-products .list-all-products .card .body-card .image-product .card-img-top {
              overflow: hidden;
              max-width: 228px;
              max-height: 228px;
              width: auto;
              height: auto; }
      .product-main .all-products .list-all-products .btn-product {
        display: none;
        position: absolute;
        z-index: 10;
        top: 17.7em;
        left: 0.7em;
        width: 91%;
        text-align: center; }
        .product-main .all-products .list-all-products .btn-product .btn-xem {
          margin-bottom: 5px; }
        .product-main .all-products .list-all-products .btn-product .btn-buy {
          border-radius: 5px;
          display: inline-block;
          font-size: 1em;
          font-family: Roboto;
          padding-top: 4px;
          background-color: #f9495f;
          color: white;
          text-decoration: none;
          text-align: center;
          height: 2em;
          width: 100%; }
      .product-main .all-products .list-all-products .discount {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: #f9495f;
        color: #fff;
        width: 65px;
        height: 32px;
        transform: skew(-12deg);
        align-items: center;
        justify-content: center;
        margin-left: -5px; }
      .product-main .all-products .list-all-products .card:hover .btn-product {
        display: block; }
      .product-main .all-products .list-all-products .card:hover .card-title {
        color: white; }
    .product-main .all-products .list-all-products:hover .btn-product {
      display: block; }
    .product-main .all-products .list-all-products:hover .card-bottom {
      display: none; }
    .product-main .all-products .list-all-products:hover .card {
      background-color: #49b14d; }
