.container .product__detail {
  font-family: ChakraPetch-Regular;
  padding: 0 0 1em 0;
  margin-top: 1em; }
  .container .product__detail .product__detail-top {
    padding: 1em 0;
    display: flex; }
    .container .product__detail .product__detail-top .product__detail-top-left {
      background-color: white;
      padding-right: 1em; }
      .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img {
        border: 1px solid steelblue;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        border-radius: 5px; }
        .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img img {
          max-width: 348px;
          max-height: 348px;
          width: auto;
          width: auto; }
      .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img-mini {
        display: flex;
        margin-top: 3em;
        justify-content: space-between;
        align-items: center; }
        .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img-mini img {
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid steelblue;
          max-height: 80%;
          overflow-y: hidden; }
        .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img-mini img:hover {
          border-color: #49b14d; }
        .container .product__detail .product__detail-top .product__detail-top-left .product__detail-img-mini button {
          padding: 1em 0.5em;
          border: 1px solid white;
          background-color: white;
          color: #111; }
    .container .product__detail .product__detail-top .product__detail-top-right {
      padding-left: 1em; }
      .container .product__detail .product__detail-top .product__detail-top-right h4 {
        font-family: ChakraPetch-Bold;
        font-size: 1.6em;
        color: #29324e; }
      .container .product__detail .product__detail-top .product__detail-top-right .detail__product-reviews {
        display: flex;
        justify-content: space-between; }
        .container .product__detail .product__detail-top .product__detail-top-right .detail__product-reviews .detail__star-reviews {
          display: flex;
          margin-right: 1em;
          color: #99a0ad; }
          .container .product__detail .product__detail-top .product__detail-top-right .detail__product-reviews .detail__star-reviews i {
            margin-left: 0.5em; }
          .container .product__detail .product__detail-top .product__detail-top-right .detail__product-reviews .detail__star-reviews .detail__evaluate {
            margin-left: 2em;
            font-family: ChakraPetch-SemiBold;
            color: #99a0ad; }
        .container .product__detail .product__detail-top .product__detail-top-right .detail__product-reviews .baohanh {
          font-family: ChakraPetch-Bold;
          color: #ff8f02; }
      .container .product__detail .product__detail-top .product__detail-top-right .detail__product-price :last-child {
        margin-right: 1em;
        color: #f9495f;
        font-family: ChakraPetch-Bold;
        font-size: 1.5em;
        margin-bottom: 0; }
      .container .product__detail .product__detail-top .product__detail-top-right .detail__product-price-cls {
        color: #99a0ad;
        font-family: ChakraPetch-MediumItalic;
        font-size: 1.2em;
        text-decoration: line-through;
        margin-bottom: 0; }
      .container .product__detail .product__detail-top .product__detail-top-right .detail__product-price :first-child {
        font-family: ChakraPetch-Bold;
        margin-bottom: 0.2em; }
      .container .product__detail .product__detail-top .product__detail-top-right .short-desc {
        line-height: 1.2;
        margin-top: 1em; }
      .container .product__detail .product__detail-top .product__detail-top-right .status__quantity .stastus span {
        color: #005ec4;
        font-family: ChakraPetch-SemiBold; }
        .container .product__detail .product__detail-top .product__detail-top-right .status__quantity .stastus span i {
          margin-right: 0.5em; }
      .container .product__detail .product__detail-top .product__detail-top-right .status__quantity .stastus__end span {
        color: red; }
      .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added {
          opacity: 1;
          display: inline-block;
          display: -ms-inline-flexbox;
          display: inline-flex;
          white-space: nowrap;
          vertical-align: top; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .is__form {
            overflow: hidden;
            position: relative;
            background-color: #f9f9f9;
            height: 2.8rem;
            width: 1.9rem;
            padding: 0;
            text-shadow: 1px 1px 1px #fff;
            border: 1px solid #ddd; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .minuss {
            overflow: hidden;
            position: relative;
            background-color: #f9f9f9;
            height: 2.8rem;
            width: 1.9rem;
            padding: 0;
            text-shadow: 1px 1px 1px #fff;
            border: 1px solid #ddd; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .is__form:focus,
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .input-text:focus {
            outline: none; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .minuss {
            border-radius: 4px 0 0 4px;
            color: black; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .pluss {
            border-radius: 0 4px 4px 0;
            color: black; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .input__qty {
            background-color: #fff;
            height: 2.8rem;
            width: 4em;
            text-align: center;
            font-size: 1rem;
            display: inline-block;
            vertical-align: top;
            margin: 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-left: 0;
            border-right: 0;
            padding: 0; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .input__qty::-webkit-outer-spin-button,
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .buttons__added .input__qty::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
        .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__added {
          background-color: white;
          color: #49b14d;
          padding-top: 0.4em;
          padding-bottom: 0.4em;
          border-radius: 5px;
          border: 1px solid #49b14d; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__added .fa-shopping-basket {
            margin-right: 10px;
            background-color: white;
            color: #49b14d; }
        .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__added:hover {
          color: #ff8f02;
          border: 1px solid #ff8f02; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__added:hover i {
            color: #ff8f02; }
        .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__buynow:hover {
          background-color: #009933; }
          .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart .btn__buynow:hover i {
            background-color: #009933; }
      .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart :last-child {
        background-color: #49b14d;
        color: white;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        border-radius: 5px;
        border: none; }
        .container .product__detail .product__detail-top .product__detail-top-right .buttons__added__cart :last-child .fa-plus {
          margin-right: 10px; }
  .container .product__detail .product__detail-policy__item {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    padding: 0em 0em 1em 0; }
    .container .product__detail .product__detail-policy__item .policy__item {
      display: flex;
      padding: 0.8em;
      width: 22%;
      background-color: #f0f3fc;
      align-items: center;
      justify-content: center; }
      .container .product__detail .product__detail-policy__item .policy__item i {
        font-size: 3em;
        text-decoration: inherit;
        color: #006600;
        padding: 0 0.3em; }
      .container .product__detail .product__detail-policy__item .policy__item p {
        text-align: center;
        margin-bottom: 0;
        color: #003300; }
  .container .product__detail .seperate {
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .product__detail .seperate .seperate__left {
      width: 30%;
      display: flex; }
      .container .product__detail .seperate .seperate__left .seperate__square {
        width: 100%;
        height: 7px;
        background: #49b14d; }
      .container .product__detail .seperate .seperate__left .triangle_down {
        width: 0;
        height: 0;
        border-top: 7px solid #49b14d;
        border-left: 0px solid transparent;
        border-right: 7px solid transparent; }
    .container .product__detail .seperate p {
      margin-bottom: 0;
      font-family: ChakraPetch-Bold;
      font-size: 1.4rem;
      color: #49b14d; }
    .container .product__detail .seperate .seperate__right {
      width: 30%;
      display: flex; }
      .container .product__detail .seperate .seperate__right .seperate__square {
        width: 100%;
        height: 7px;
        background: #49b14d; }
      .container .product__detail .seperate .seperate__right .triangle_up {
        width: 0;
        height: 0;
        border-bottom: 7px solid #49b14d;
        border-left: 7px solid transparent;
        border-right: 0px solid transparent; }
  .container .product__detail .product__detail-menu-mini {
    padding-left: 0;
    padding-right: 0; }
    .container .product__detail .product__detail-menu-mini .detail-menu-mini {
      background-color: #f0f3fc;
      display: flex; }
      .container .product__detail .product__detail-menu-mini .detail-menu-mini div {
        cursor: pointer;
        padding: 0.5em 1em;
        text-decoration: none;
        color: #49b14d;
        font-family: ChakraPetch-Bold;
        font-size: 1.1em; }
      .container .product__detail .product__detail-menu-mini .detail-menu-mini div:hover {
        background-color: #49b14d;
        color: white; }
    .container .product__detail .product__detail-menu-mini .tabcontent {
      display: none; }
    .container .product__detail .product__detail-menu-mini .content-description {
      display: block;
      padding: 0;
      margin-top: 1em; }
      .container .product__detail .product__detail-menu-mini .content-description p {
        text-align: center;
        font-size: 16px !important;
        line-height: 24px; }
      .container .product__detail .product__detail-menu-mini .content-description div img {
        max-width: 100%;
        width: auto; }
    .container .product__detail .product__detail-menu-mini .content-specification .content-specification-main table tbody tr td {
      border: 1px solid #dddfe6; }
    .container .product__detail .product__detail-menu-mini .content-specification .content-specification-main table tbody tr td :first-child {
      width: 250px; }
