<a href="/account/detail" id="account__detail" class="tab"><i class="fas fa-info-circle fa-2x"
        style="color: rgb(54, 12, 243);"></i>
    <p>Thông tin tài khoản</p>
</a>
<a href="/account/finish-order" id="account__finish-order" class="tab"><i class="fad fa-sack-dollar fa-2x" style="color: darkgreen;"></i>
    <p> Đơn hàng đã hoàn thành</p>
</a>
<a href="/account/pending-order" id="account__pending-cart" class="tab"><i class="fad fa-shopping-cart fa-2x"
        style='color: olive'></i>
    <p>Đơn hàng đang xử lí</p>
</a>
<a href="/account/canceled-order" id="account__cancel-cart" class="tab"><i class="far fa-align-slash fa-2x"
        style="color: tomato;"></i>
    <p>Đơn hàng đã huỷ</p>
</a>
<a class="tab"><i class="fad fa-key fa-2x" style="color: 
            blueviolet;"></i>
    <p>Thay đổi mật khẩu</p>
</a>
<a class="tab"><i class="fad fa-envelope-open-text fa-2x" style="color: rgb(19, 95, 100);"></i>
    <p>Thay đổi email</p>
</a>