<div class="col-3 filter">
      <h5>BỘ LỌC SẢN PHẨM</h5>
      
      {{!-- Giá tiền--}}
      <div class="filter-manufacturer sort-by-money container">
        <div onclick="sortByMoney()" class="manufacturer">Giá tiền<i class="fas fa-angle-right"></i></div>
        <ul id="sortByMoney" class="sort__by-mn ">
          <div class="option__sort-by-mn">< 1 Triệu</div>
          <div class="option__sort-by-mn">1 Triệu - 5 Triệu</div>
          <div class="option__sort-by-mn">5 Triệu - 10 Triệu</div>
          <div class="option__sort-by-mn">> 10 Triệu</div>
        </ul>
      </div>

      {{!-- Hãng sản xuất --}}
      <div class="filter-manufacturer">
        <div onclick="manufacturer()" class="manufacturer">Hãng sản xuất<i class="fas fa-angle-right"></i></div>
        <ul class="main__mft" id="main-manufacturer">
          <label class="manufacturer-main"><p>RAZER</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>LG</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>T2PC</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>MSI</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>ACER</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>DELL</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>KINGSTON</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>AMD</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>NVDIA</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>Cooler Master</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>Intel</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>Corsair</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>E-Dra</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>GYGABYTE</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="manufacturer-main"><p>AKKO</p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </ul>
      </div>
    </div>