 <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Danh mục quản lý</div>
                    <a class="nav-link" href="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/admin/event">
                        <div class="sb-nav-link-icon"><i class="fas fa-gifts"></i></div>
                        Sự kiện
                    </a>
                    <a class="nav-link" href="/admin">
                        <div class="sb-nav-link-icon"><i class="far fa-user-circle"></i></div>
                        Tài khoản
                    </a>
                    <a class="nav-link" href="/admin/product">
                        <div class="sb-nav-link-icon"><i class="fad fa-computer-speaker"></i></div>
                        Sản phẩm
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fad fa-money-bill-wave"></i></div>
                        Đơn hàng
                        <div class="sb-sidenav-number-request"></div>
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/order/pending">
                                <div class="sb-nav-link-icon"><i class="fad fa-spinner"></i></div>
                                Đơn hàng chờ xử lí
                                <div class="sb-sidenav-number-0"></div>
                            </a>
                            <a class="nav-link" href="/admin/order/cancel-request">
                                <div class="sb-nav-link-icon"><i class="fad fa-store-slash"></i></div>
                                Yêu cầu huỷ đơn
                                <div class="sb-sidenav-number-4"></div>
                            </a>
                            <a class="nav-link" href="/admin/order/shipping">
                                <div class="sb-nav-link-icon"><i class="fas fa-shipping-fast"></i></div>
                                Đơn đang giao
                            </a>
                            <a class="nav-link" href="/admin/order/done">
                                <div class="sb-nav-link-icon"><i class="fad fa-file-check"></i></div>
                                Đã hoàn thành
                            </a>
                            <a class="nav-link" href="/admin/order/canceled">
                                <div class="sb-nav-link-icon"><i class="fad fa-trash"></i></div>
                                Đã bị hủy
                            </a>
                            
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Chào mừng boss <i class="far fa-grin-squint"></i>:</div>
                {{session.User.name}}
            </div>
        </nav>
    </div>