<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/pay.css">
    <link rel="stylesheet" href="../../public/css/font.css">
    <link rel="stylesheet" href="../../public/font/ChakraPetch-Bold.ttf">
    <!-- <link rel="stylesheet" href="../../public/css/font.css"> -->
    <link rel="stylesheet" href="../../public/css/fontAwsome/css/all.css">
    <link rel="stylesheet" href="../../public/css/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container pay__container">
        <div class="row pay__header">
            <h3>Thanh toán đơn hàng</h3>
        </div>
        <div class="row pay-address">
            <div class="col-6 pay__address">
                <div class="pay__address-top"></div>
                <div class="pay__address-main">
                    <div><i class="fas fa-map-marked-alt"></i> Địa chỉ nhận hàng</div>
                    <div class="name-customer style__customer">
                        <p class="col-3">Họ Và Tên: </p>
                        <span class="col-7">Trần Thị Đời</span>
                        <div class="col-2 btn__in-customer">
                            <button><i class="fal fa-edit"></i></button>
                            <button><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <p class="col-3">Số Điện Thoại: </p>
                        <span class="col-7">0123 456 789</span>
                        <div class="col-2 btn__in-customer">
                            <button><i class="fal fa-edit"></i></button>
                            <button><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <p class="col-3">Email: </p>
                        <span class="col-7">ratgivanayno@gmail.com</span>
                        <div class="col-2 btn__in-customer">
                            <button><i class="fal fa-edit"></i></button>
                            <button><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                    <div class="address-customer style__customer">
                        <p class="col-3">Địa chỉ: </p>
                        <span class="col-7">Học viện Nông nghiệp Việt Nam Học viện Nông nghiệp Việt Nam Học viện Nông nghiệp Việt Nam</span>
                        <div class="col-2 btn__in-customer">
                            <button><i class="fal fa-edit"></i></button>
                            <button><i class="fas fa-check"></i></button>
                        </div>
                    </div>
                    <div class="note-of-customer">
                        <p class="col-3">Ghi chú:</p>
                        <textarea class="col-9" name="" id="" cols="30" rows="3" placeholder="Nhập ghi chú"></textarea>
                    </div>
                </div>
                <div class="pay__address-top"></div>
                <div class="payments">
                    <h5>HÌNH THỨC THANH TOÁN</h5>
                    <div class="payments_cod">
                        <div>
                            <input type="radio" id="cod" name="fav_language" value="">
                            <label for="cod">Thanh toán khi giao hàng (COD)</label>
                        </div>
                        <span>Có thể sử dụng</span>
                    </div>
                    <div class="payments_baning">
                        <div>
                            <!-- <input type="radio" id="banking" name="fav_language" value=""> -->
                            <label for="banking">Thanh toán online (Internet Banking)</label>
                        </div>
                        <span>Đang cập nhật</span>
                    </div>
                </div>
            </div>
            <div class="col-6 pay__detail">
                <div class="pay__detail-cart">
                    <h5>THÔNG TIN GIỎ HÀNG</h5>
                    <div class="amount__product">
                        <p>Số lượng sản phẩm</p>
                        <p>12</p>
                    </div>
                    <div class="price__buy-product">
                        <p>Tổng chi phí</p>
                        <p>23.456.789.JQK đ</p>
                    </div>
                    <p>Đã bao gồm VAT (Nếu có)</p>
                </div>
                <div class="list-product-in-cart">
                    <div class="pay__list-product">
                        <div class="col-2 img-prd-in-cart">
                            <div class="mini-img-prd-in-cart"><img src="../../public/img/products/card-man-hinh-asus-rtx-3060-v2-1-228x228.png" alt=""></div>
                        </div>
                        <div class="col-4 name-product-in-cart">
                            <p class="product-in-cart-first">Tên sản phẩm</p>
                            <p class="product-in-cart-last">Laptop Asus ROG Strix G15 G513QC-HN015T R7 5800H/ 8GB/ 512GB/ RTX 3050/ Win 10</p>
                        </div>
                        <div class="col-2 amount-product-in-cart">
                            <p>Số lượng</p>
                            <p>2</p>
                        </div>
                        <div class="col-4 into-money">
                            <p>Thành tiền</p>
                            <p>12.345.678.789 đ</p>
                        </div>
                    </div>
                    <div class="pay__list-product">
                        <div class="col-2 img-prd-in-cart">
                            <div class="mini-img-prd-in-cart"><img src="../../public/img/products/card-man-hinh-asus-rtx-3060-v2-1-228x228.png" alt=""></div>
                        </div>
                        <div class="col-4 name-product-in-cart">
                            <p class="product-in-cart-first">Tên sản phẩm</p>
                            <p class="product-in-cart-last">Laptop Asus ROG Strix G15 G513QC-HN015T R7 5800H/ 8GB/ 512GB/ RTX 3050/ Win 10</p>
                        </div>
                        <div class="col-2 amount-product-in-cart">
                            <p>Số lượng</p>
                            <p>2</p>
                        </div>
                        <div class="col-4 into-money">
                            <p>Thành tiền</p>
                            <p>12.345.678.789 đ</p>
                        </div>
                    </div>
                    <div class="pay__list-product">
                        <div class="col-2 img-prd-in-cart">
                            <div class="mini-img-prd-in-cart"><img src="../../public/img/products/card-man-hinh-asus-rtx-3060-v2-1-228x228.png" alt=""></div>
                        </div>
                        <div class="col-4 name-product-in-cart">
                            <p class="product-in-cart-first">Tên sản phẩm</p>
                            <p class="product-in-cart-last">Laptop Asus ROG Strix G15 G513QC-HN015T R7 5800H/ 8GB/ 512GB/ RTX 3050/ Win 10</p>
                        </div>
                        <div class="col-2 amount-product-in-cart">
                            <p>Số lượng</p>
                            <p>2</p>
                        </div>
                        <div class="col-4 into-money">
                            <p>Thành tiền</p>
                            <p>12.345.678.789 đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pay__footer">
            <p class="col-9">Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo Điều khoản của T2PC</p>
            <button class="col-2 snip1582">Đặt hàng</button>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>