<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC</title>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="\css\fontAwsome\css\all.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/pay.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    {{!-- <link rel="stylesheet" href="/css/product.css"> --}}
    <link rel="stylesheet" href="/css/listproduct.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/productdetail.css">

</head>

<body>
    <div class="app">
    {{#unless check.opendashboard}}
    {{>header}}
    {{/unless}}
    <div class="container" id="main-body-content">
        {{{body}}}
    </div>
    {{#unless check.opendashboard}}
    {{>footer}}
    <script>
       let check = document.getElementById('checkLogin');
       if(check.innerHTML == 'true'){
        document.getElementById('login-header').style.display = 'none';
        document.getElementById('user-panel').style.display = 'block';
       }
    </script>
    {{/unless}}
    </div>
    {{#if check.opendashboard}}
    <script>
    document.getElementById('main-body-content').classList.remove('container');
</script>
{{/if}}
<script src="/js/filter.js"></script>
     <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="/js/jquery/dist/jquery.slim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    {{!-- slick --}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

{{!-- Form này để post một số thứ lên sever --}}
<form method="POST" name="shipper"></form>
</body>

</html>